# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc


# MLflow
mlruns/
mlflow.db

# DVC cache
.dvc/cache/

# VS Code
.vscode/

# Model(joblib)
# models/

# OS
Thumbs.db
.DS_Store

#dataset
data/raw/*.csv
data/processed/*.csv

__pycache__/

# Jupyter
*.ipynb
.ipynb_checkpoints/

chrome-extension/*.zip
