# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# MLflow
mlruns/

# DVC cache
.dvc/cache/

# VS Code
.vscode/

# OS
Thumbs.db
.DS_Store

#dataset
/twitter_tweets_clean.csv