fastapi==0.124.0
uvicorn==0.38.0
pandas==2.3.3
numpy==2.3.5
scikit-learn==1.8.0
lightgbm==4.6.0
joblib==1.5.2
mlflow==2.7.0
matplotlib==3.10.7
wordcloud==1.9.5
nltk==3.9.2
emoji==2.15.0
pydantic==2.12.5
PyYAML==6.0.3
python-multipart==0.0.9
requests==2.31.0
